* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.bg-container {
  display: flex;
  justify-content: center;
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
  background-size: cover;
  min-height: 100vh;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 600px;
}

.heading {
  color: #ffffff;
  font-family: "Bree Serif";
  font-size: 32px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  border-radius: 15px;
}

.like-button {
  color: #ffffff;
  background-color: #eab308;
}

.comment-button {
  color: #323f4b;
  background-color: #ffffff;
}

.share-button {
  color: #ffffff;
  background-color: #1d4ed8;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 64px;
  }
  .buttons-container {
    flex-direction: row;
  }
  .button {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .content-container {
    width: 60%;
  }
}

@media screen and (min-width: 992px) {
  .content-container {
    width: 50%;
  }
}
